// colors
$color-black: #000000;
$color-white: #ffffff;
$color-deep-blue: #042a30;
$color-electric-blue: #007bff;
$color-green: #108141;
$color-red: #b4330c;
$color-grey: #808080;

// border-radius
$border-radius: 8px;

// font-size
$font-14: 14px;
$font-16: 16px;
$font-24: 24px;

// font-family
$font-roboto: 'Roboto, sans-serif';
